.link {
  cursor: pointer;
}

.textpan {
  margin: 0 auto;
}

.founderimg {
  width: 250px;
}

.undertext{
  display:none;
  margin:15px !important;
}

.textpan2{
  margin: 15px;
  max-width: 400px;
  width: 100%;
}

@media(max-width:1550px){
  .headerarea{
     margin:auto 0 !important;
  }
  .founderimg{
    width:50%;
  }
  .textpan2{
    display:flex;
    width:50% !important;
    max-width:unset !important;
  }
  .uptext{
    display:none;
  }
  .undertext{
    display:block !important;
  }
}

.founderpan {
  @media(max-width:1398px) {
    height: 500px !important;
  }

  @media(max-width:1170px) {
    // height: 550px !important;
  }

  @media(max-width:1126px) {
    // height: 600px !important;
  }

  @media(max-width:1068px) {
    max-width: none !important;
    width: 93% !important;
    height: fit-content !important;
    .uparea{
      display:block !important;
    }
    .textpan2{
      width:100% !important;
    }
    .founderimg{
      width:95% !important;
    }
  }

  @media(max-width:768px) {
    flex-direction: column;
    margin: 0px !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;

    .textpan {
      margin: 0px !important;
    }

    .founderimg {
      margin-bottom: 15px !important;
      // width: 100% !important;
    }
  }
}

.teammatepan {
  @media(max-width:1190px) {
    // max-width: 230px !important;
    // margin:20px !important;
  }



  @media(max-width:1360px) {
    // margin:20px auto !important;
  }

  @media(max-width:1023px) {
    .teammatepan {
      margin: 0 auto !important;
      max-width: unset !important;
    }

    .textpan {
      width: 95% !important;
      max-width: unset !important;
    }

    .teammateimg {
      margin: 0 auto;
      width: 95% !important;
    }
  }

  @media(max-width:1086px) {
    // max-width: 100% !important;
  }

  @media(max-width:1309px) {
    .textpan {
      height: fit-content !important;
    }
  }
}

.teammateimg {
  @media(max-width:1360px) {

    .textpan {
      width: 100% !important;
    }
  }


  @media(max-width:674px) {
    width: 200px;
  }

  @media(max-width:628px) {
    width: 150px;
  }
}

.typepan {
  @media(max-width:1320px) {
    height: 200px;
  }

  @media(max-width:1309px) {
    height: 300px !important;
  }

  @media(max-width:1060px) {
    height: fit-content !important;
    max-width: 1000px !important;
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    padding: 30px 15px !important;
  }
}